@import 'tailwindcss';

@theme {
  --color-app-bg: var(--app-bg);
  --color-sidebar-bg: var(--sidebar-bg);
  --color-text-main: var(--text-main);
  --color-text-dim: var(--text-dim);
  --color-border-subtle: var(--border-subtle);
  --color-item-hover: var(--item-hover);
}

:root {
  /* Light Mode (Macular/Vintage Paper) */
  --app-bg: #fdfdfd;
  --sidebar-bg: #f5f5f4;
  --text-main: #1c1917;
  --text-dim: #78716c;
  --border-subtle: rgba(0, 0, 0, 0.05);
  --item-hover: rgba(0, 0, 0, 0.03);

  color-scheme: light;
}

.dark {
  /* Dark Mode (Our current Slate/Neutral theme) */
  --app-bg: #191919;
  --sidebar-bg: #202020;
  --text-main: #d4d4d4;
  --text-dim: #737373;
  --border-subtle: rgba(255, 255, 255, 0.05);
  --item-hover: rgba(255, 255, 255, 0.03);

  color-scheme: dark;
}

@layer base {
  body {
    @apply bg-app-bg text-text-main antialiased transition-colors duration-200;
  }
  button,
  [role='button'],
  input[type='button'],
  input[type='submit'] {
    @apply cursor-pointer;
  }
  button:disabled {
    @apply cursor-not-allowed;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--border-subtle);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-dim);
}
